/* ==========================
	전체 데이터 초기화
========================== */
.all-reset {
	padding-right: 20px;
	display: flex;
	justify-content: flex-end;
}

.btn-all-reset {
	padding: 10px 14px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	background: rgba(228, 87, 116, 0.1);
	color: #e45774;
	font-weight: 600;
	transition: background 0.15s ease;
}

.btn-all-reset:hover {
	background: rgba(228, 87, 116, 0.3);
}

.add-btn {
	cursor: pointer;
}

/* ==========================
	칸반보드
========================== */
.board {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.todo-card,
.progress-card,
.done-card {
	height: 440px;
	overflow: auto;
	scrollbar-width: none;
}

.todo-card:hover,
.progress-card:hover,
.done-card:hover {
	transform: none;
	box-shadow: none;
}

.card-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #4b2cff;
}

.card-title {
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: 800;
	font-size: 15px;
}

.card-title > span:first-child {
	font-size: 20px;
	font-weight: 500;
}

.card-title .count {
	min-width: 32px;
	min-height: 20px;
	padding: 2px 8px;
	font-size: 12px;
	font-weight: 400;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	border: 1px solid #e8e9f0;
}

.del-all {
	border: 0;
	background: transparent;
	color: #e45774;
	font-weight: 700;
	font-size: 12px;
	cursor: pointer;
}

.done-card [class^="task-"] {
	opacity: 0.6;
}

/* 카드안쪽 */
/* JS에서 태그 생성 */
.empty-msg {
	padding-top: 30px;
	opacity: 0.6;
	text-align: center;
}

.task {
	margin-bottom: 10px;
	cursor: pointer;
}

.task > p {
	padding: 0 10px;
}

.task p:nth-of-type(1) {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.task p:nth-of-type(2) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-clamp: 2; /* vscode 경고떠서 추가함 */
	overflow: hidden;
}

/* 할일 테두리 (높음) */
.task-high {
	position: relative;
	border: 1px solid #4b2cff;
	border-radius: 10px;
	padding: 12px 12px 10px;
	overflow: hidden;
}

.task-high::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background: #4b2cff;
}

/* 할일 테두리 (중간) */
.task-mid {
	position: relative;
	border: 1px solid #8b7dff;
	border-radius: 10px;
	padding: 12px 12px 10px;
	overflow: hidden;
}

.task-mid::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background: #8b7dff;
}

/* 할일 테두리 (낮음) */
.task-low {
	position: relative;
	border: 1px solid #d7d0ff;
	border-radius: 10px;
	padding: 12px 12px 10px;
	overflow: hidden;
}

.task-low::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background: #d7d0ff;
}

/* 진행중 테두리 (높음) */
.high-color {
	border: 1px solid #178a52;
}

.high-color::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background: #178a52;
}

/* 진행중 테두리 (중간) */
.mid-color {
	border: 1px solid #2bb673;
}

.mid-color::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background: #2bb673;
}

/* 진행중 테두리 (낮음) */
.low-color {
	border: 1px solid #bff2da;
}

.low-color::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background: #bff2da;
}

/* 완료 테두리 (높음) */
.done-high-color {
	border: 1px solid #d84a78;
}

.done-high-color::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background: #d84a78;
}

/* 완료 테두리 (중간) */
.done-mid-color {
	border: 1px solid #ff6aa2;
}

.done-mid-color::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background: #ff6aa2;
}

/* 완료 테두리 (낮음) */
.done-low-color {
	border: 1px solid #ffd0e1;
}

.done-low-color::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background: #ffd0e1;
}

/* 보드 안쪽 할일 영역 */
.task-top {
	padding-left: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.badge {
	display: inline-flex;
	align-items: center;
	height: 18px;
	padding: 0 8px;
	border-radius: 15px;
	font-size: 11px;
	font-weight: 800;
	color: #4b2cff;
	background: rgba(102, 88, 255, 0.15);
}

.close {
	font-size: 15px;
	width: 25px;
	height: 25px;
	border-radius: 8px;
	border: 0;
	background: none;
	cursor: pointer;
	font-weight: 800;
	color: #666;
}

.task-title {
	font-weight: 500;
	font-size: 16px;
	margin: 0 0 6px;
}

.task-desc {
	margin: 0 0 8px;
	font-size: 14px;
	font-weight: 400;
	color: #666;
	line-height: 1.35;
}

.task-date {
	padding: 0 0 10px 10px;
	font-size: 12px;
	line-height: 1.2;
	color: #888;
}
