/* 기본셋팅 */
body {
	font-family:
		system-ui,
		-apple-system,
		Segoe UI,
		Roboto,
		Arial,
		sans-serif;
	background: #fff;
	color: #000;
}

.container {
	width: min(1200px, 92%);
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.box {
	background: #fff;
	border: 1px solid #e6e8ef;
	border-radius: 14px;
	padding: 16px;
}
