/* 대시보드(통계)*/
.summary {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 12px;
}
.stat {
	padding: 12px;
	display: flex;
	gap: 12px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px dashed #d1d5db;
	border-radius: 14px;
	font-size: 20px;
	background-color: #fff;
}
.stat-line {
	width: 70%;
	height: 15px;
	border-radius: 12px;
	background-color: #8b7dff;
	transform: scale(1);
	transition: transform 0.4s ease-in-out;
}
.todoline {
	background-color: #ff9fbe;
}
.progressline {
	background-color: #7fe8cf;
}
.doneline {
	background-color: #ffd0b2;
}
.achievementline {
	background-color: #9fe6ff;
}
.stat-label {
	font-size: 20px;
	color: #666;
	font-weight: 600;
}
.stat-line:hover {
	transform: scale(1.1);
}
.stat-value {
	font-size: 20px;
	font-weight: 800;
}
