/* ============ Motivation ============ */
.progressCard {
	padding: 24px 20px;
}

/* 오늘도 한 걸음 타이틀 */
.progressHeader {
	margin-bottom: 15px;
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 20px;
	font-weight: 700;
}

/* 오늘의 다짐 박스 */
.myLineBox {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	border: 1px solid #e6e8ef;
	border-radius: 12px;
	padding: 8px 12px;
	background: #fff;
}
.myLineInput {
	flex: 1;
	border: none;
	outline: none;
	font-size: 23px;
	font-weight: 1000;
}

.myLineInput::placeholder {
	color: #c7cbd8;
	opacity: 1;
}

.myLineActions {
	display: flex;
	gap: 10px;
}

.pill-btn {
	border: 1px solid #e6e8ef;
	border-radius: 999px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 40px;
	font-size: 15px;
	font-weight: 600;
}
.pill-btn-primary {
	background: #6cb6ff;
	color: #fff;
}

/* 명언 */
.quoteLine {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
}
.quoteLineText,
.quoteLineMeta {
	font-size: 16px;
	color: #757272;
}

.quoteLineText {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 75%;
}

/* 달성률 게이지바 */
.progressRow {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-top: 14px;
	padding: 0;
}
.progressBar {
	position: relative;
	flex: 1;
	height: 20px;
	border-radius: 999px;
	background: #e9ecf5;
	overflow: visible;
}

/* 채워지는 게이지 바 */
.progressFill {
	height: 100%;
	width: 0%;
	border-radius: 999px;
	background: linear-gradient(90deg, #82b6ff 0%, #816bff 100%);
}

/* 토끼 아이콘 */
.progressChar {
	position: absolute;
	top: -31px;
	transform: translateX(-50%);
	left: 0%;
	padding-left: 20px;
	font-size: 25px;
}
