/* =======================
	 				태블릿 
	======================== */
@media (max-width: 1199px) {
	/* 대시보드 통계 */
	.summary {
		grid-template-columns: repeat(3, 1fr);
	}
	.bot-left {
		grid-column: 1;
	}
	.bot-right {
		grid-column: 3;
	}
	.stat {
		font-size: 18px;
	}
	.stat-line:hover {
		transform: none;
	}
	.stat-line:active {
		transform: scale(1.1);
	}

	/* 검색 필터 정렬 */
	.sorting {
		grid-template-columns: repeat(3, 1fr);
	}
	.search-wrap {
		grid-column: 1/3;
		grid-row: 1;
	}
	.add-btn {
		grid-column: 3/4;
		grid-row: 1;
	}
	.select-filter,
	.priority-filter,
	.title-sort {
		grid-row: 2;
	}
	.add-btn:hover {
		background-color: none;
	}
	.add-btn:active {
		background-color: #7566f0;
	}

	/* 칸반보드 */
	.board {
		grid-template-columns: 1fr;
	}

	.todo-card,
	.progress-card,
	.done-card {
		height: 240px;
	}
}

/* =======================
	 				모바일 
	======================== */
@media (max-width: 767px) {
	/* 대시보드 통계 */
	.summary {
		grid-template-columns: 1fr;
	}
	.bot-left,
	.bot-right {
		grid-column: 1 / -1;
	}

	/* 검색 필터 정렬 */
	.sorting {
		grid-template-columns: 1fr;
	}
	.search-wrap,
	.add-btn,
	.select-filter,
	.priority-filter,
	.title-sort {
		grid-column: 1 / -1;
		grid-row: auto;
	}
}
